@import './base.css';

:root {
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-secondary: #e5e7eb;
  --color-secondary-hover: #d1d5db;
  --color-info: #00b074;
  --color-info-hover: #009e6c;
  --color-disabled: #d1d5db;
  --color-disabled-text: #9ca3af;
  --color-text: #374151;
}
